<% content_for :title do %>
Сертификаты
<%	end -%>

<% content_for :content do %>
	<table>
		<tr>
			<td>
				ИНН
			</td>
			<td>
				<%= text_field(:info, :inn, :value => @inn, :size => 50, :maxlength => 255) %>
			</td>
		</tr>
		<tr>
			<td>
				Номер заказа
			</td>
			<td>
				<%= text_field(:info, :ndoc, :value => @ndoc, :size => 50, :maxlength => 255) %>
			</td>
		</tr>
		<tr>
			<td>
				Наименование товара
			</td>
			<td>
				<%= text_field(:info, :goods_name, :value => @goods_name, :size => 50, :maxlength => 255) %>
			</td>
		</tr>
	</table>
	<br/>
	<%= link_to_remote 'Просмотреть сертификаты', :update => 'certificate', :url =>'/certificate/certificate_info', :with => "'info_inn='+$('info_inn').value + '&info_ndoc='+$('info_ndoc').value + '&info_goods_name='+$('info_goods_name').value" %>
	<br/>
	<div id="certificate">
		<%= render :partial => "certificate" %>
	</div>
<% end -%>

<% render :file => 'layouts/application' %>
