<% content_for :js do %>
    <script src="http://api-maps.yandex.ru/2.0/?load=package.full&mode=debug&lang=ru-RU" type="text/javascript"></script>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "geo" %>
    <script type="text/javascript">
		var map,
			pp = <%= @rst_new %>,
			placemarks = new Array,
			current_id = 0,
			isadr = 0,
			main_city = [{"city": "Москва"}],
			unact;
		ymaps.ready(function(){
			unact=new Unact();
			unact.geo.init([<%= @latitude %>, <%= @longitude %>]);
		});
		function submitIt(event, sid) {
			$('a_' + sid + '_needsave').checked = true;
			if ((event.keyCode == 0xA) || (event.keyCode == 0xD)) {
				isadr = 1;
				unact.geo.find_addr(sid, "geo");
			};
		};

	</script>
<%	end -%>
<% content_for :title do %>
Координаты торговых точек
<%	end -%>
<% content_for :content do %>
	<div id="wrapper">
		<div id="groupselect">
			<% form_tag do %>
				<fieldset>
					<legend>Настройки</legend>
					<nobr>
						<label for="subdealer">Выберите группу партнеров:</label>
						<%=  select(:post, :subdealer, @subdealers_list, {:selected => @subdealer}) %>
						
						<%= submit_tag 'Выбрать' %>
					</nobr>		
				</fieldset>
			<% end %> 
		</div>
		
		<div
			id="map"
			style="width: 60%;
			float: right;">
			<div id="YMapsID" ></div>
		</div>
		
		<div
			id="tableheader"
			style="width: 38%;
			float: left;">
			<div>
				<table width="100%" border="0" cellpadding="2" cellspacing="1">
				   <tr>
						<td width="20%" class="th1">Имя</td>
						<td width="80%">Адрес <br>Геокодированный адрес</td>
				   </tr>
				</table>
			</div>
		</div>
		
		<% form_tag( {:action => 'save_point'}, {:onsubmit => "if (isadr == 1 ) {isadr=0;return false;}"} ) do %>	
			<div id="buyers">	
				<div id="mainform">
						<table width="100%" border="0" cellpadding="2" cellspacing="1">
							<% @rst_buyers.each do |a| %>
							<tr
								<%= "id=\"row_#{a["id"]}\"" %> class="rdata" onclick="unact.geo.on_select(<%= a["id"] %>)" >
								<td width="20%" id="small_name" ><%= a["pname"] %></td>
								<td width="80%">
									<%= text_field(:a, :srcaddress, :index => a["id"] , :value => a["srcaddress"], :maxlength => 255, :class => "boxintbl", :style=>"background-color : transparent", :onkeypress => "submitIt(event, #{a["id"]});" ) %>
									<br/>
									<%= text_field(:a, :fulladdress, :index => a["id"] , :value => a["fulladdress"], :maxlength => 255, :class => "boxintable gray", :style=>"background-color : transparent", :readonly => 'true') %>
									<%= hidden_field(:a, :taddress, :index => a["id"] , :value => a["taddress"], :maxlength => 255) %>
								</td>
								<td style='display:none;' width="0%">
									<%= text_field(:a, :latitude, :size => 8, :index => a["id"] , :value => a["latitude"], :maxlength => 20, :style=>"background-color : transparent", :onkeydown => "unact.geo.on_needsave(#{a["id"]}); $('a_#{a["id"]}_ismanual').checked = true;" ) %>
									<br/>
									<%= text_field(:a, :longitude, :size => 8, :index => a["id"] , :value => a["longitude"], :maxlength => 20, :style=>"background-color : transparent", :onkeydown => "unact.geo.on_needsave(#{a["id"]}); $('a_#{a["id"]}_ismanual').checked = true;" ) %>
								</td>
								<td style='display:none;' width="0%" align="center">
									<%= check_box(:a, :ismanual, :index => a["id"], :value => a["ismanual"], :style=>"border : none", :checked => (a["ismanual"]==1), :onclick => "unact.geo.on_needsave(#{a["id"]})" ) %> 
									<br/>
									<%= check_box(:a, :needsave, :index => a["id"], :style=>"border : none", :value => '0', :checked => false ) %>
								</td>
							</tr>
							<% end %>
						</table>			
						
				</div>
			</div>
			<div id="operblock">		
				<%= submit_tag "Сохранить" %>
			</div>
		<% end %>
	</div>
<% end -%>
<% render :file => 'layouts/application' %>