<% content_for :stylesheets_links do %>
	<link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/main.css">
<% end %>
<% content_for :title do %>
Ресурсы пользователей
<% end %>
<% content_for :content do %>
	<div>
		<% form_tag do%>
			<fieldset>
				<legend>Фильтр</legend>
				<nobr>
					<label for="renew_groups">Группа: </label>
					<%= select_tag(:renew_groups, options_for_select([["<Все>",0]] + @renew_groups.collect {|p| [p.name, p.id]}, :selected => @selected_group)) %>
					<label for="renew_urls"> Ресурс: </label>
					<%= select_tag(:renew_urls, options_for_select([["<Все>",0]] + @renew_urls.collect {|p| [p.name+', '+p.url_pattern, p.id]}, :selected => @selected_url)) %>
				</nobr>
				<%= submit_tag "Применить"%>
			</fieldset>
		<% end %> 
	</div>
	<br>

	<% form_tag :action => 'save' do %>
		<table>
			<thead>
			  <tr>
				<th>
					Группа
				</th>
				<th>
					Ресурс
				</th>
				<th>
				</th>
			  </tr>
			</thead>

			<tbody>
				<% @renew_users_urls.each do |item| %>
					<tr>
						<td><%= select_tag(
							'renew_users_urls['+item.renew_user_group.id.to_s+']['+item.renew_user_url.id.to_s+'][group]',
							options_for_select(@renew_groups.collect {|p| [p.name, p.id]}, :selected=>item.renew_user_group.id )) %></td>
						<td><%= select_tag(
							'renew_users_urls['+item.renew_user_group.id.to_s+']['+item.renew_user_url.id.to_s+'][url]',
							options_for_select(@renew_urls.collect {|p| [p.name+', '+p.url_pattern, p.id]}, :selected=>item.renew_user_url.id )) %></td>
						<td><%= link_to("Удалить",
							{:action => "destroy", :group_id=>item.renew_user_group.id, :url_id=>item.renew_user_url.id},
							:confirm => 'Вы уверены? Удалить ?')%></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<%= submit_tag(value = "Сохранить") %>
	<% end %>
	<br/>
	Новая запись
	<% form_tag :action => 'create' do %>
		<div>
			<%= select_tag(
				'renew_users_url[group]',
				options_for_select(@renew_groups.collect {|p| [p.name, p.id]})) %>
			<%= select_tag(
				'renew_users_url[url]',
				options_for_select(@renew_urls.collect {|p| [p.name+', '+p.url_pattern, p.id]})) %>
		<%= submit_tag(value = "Создать")%></div>
	<% end %>

<% end %>