<% content_for :js do %>
   <script src="//api-maps.yandex.ru/2.0/?load=package.full&mode=debug&lang=ru-RU" type="text/javascript"></script>
<%	end -%>

<% content_for :js_controller do %>
,'Placeunload.Points'
<% end -%>

<% content_for :stylesheets do %>
	.x-wrap_cells .x-grid-cell-inner {
		white-space: normal;
	}
<% end %>

<% content_for :title do %>
Координаты торговых точек
<%	end -%>

<% content_for :content do %>
	<input type="hidden" name="placeunload_id" id="placeunload_id" value="<%= @placeunload_id %>"/>
	<input type="hidden" name="placeunload_name" id="placeunload_name" value="<%= @placeunload_name %>"/>
	<input type="hidden" name="address" id="address" value="<%= @address %>"/>
	<input type="hidden" name="tp" id="tp" value="<%= @tp %>"/>
	<input type="hidden" name="ischeck" id="ischeck" value="<%= @ischeck %>"/>
	<input type="hidden" name="buyers_route_id" id="buyers_route_id" value="<%= @buyers_route_id %>"/>
	<input type="hidden" name="ddate" id="ddate" value="<%= @ddate %>"/>
	<input type="hidden" name="notgeo" id="notgeo" value="<%= @notgeo %>"/>
	
	<input type="hidden" name="latitude" id="latitude" value="<%= @latitude %>"/>
	<input type="hidden" name="longitude" id="longitude" value="<%= @longitude %>"/>
	
	<div id="placeunload_points_js"></div>
<%	end -%>