<% content_for :title do %>
Операция над комплектующим
<% end %>

<% content_for :content do %>
<h3>
<%= @v["gname"] + " №" + @v["serial"] %>
</h3>
<p>
	Дата:
	<%= @v["ddate"] %>
</p>
<p>
	Кто:
	<%= @v["pname"] %>
</p>
<p>
	Откуда:
	<%= @v["sname"] %>
</p>
<p>
	Куда:
	<%= @v["dname"] %>
</p>
<p>
	Терминал:
	<%= @v["tcode"] %>
</p>
<p>
	Комментарий:
	<%= @v["descr"] %>
</p>

<p>
	Кладовщик  ________________
</p>
<p>
	Техник  ________________
</p>
<% end %>