<table width="100%" border="0" cellpadding="2" cellspacing="1">
	<% @places.each do |a| %>
		<tr <%= "id=\"row_#{a["id"]}\"" %> class="rdata" onclick="on_select(<%= a["id"] %>);" >
			<td width="15%" id="small_name" ><%= a["name"] %></td>
			<td width="60%">
				<%= a["address"] %>
				<br/>
				<%= a["fulladdress"] %>
				<br/>
				<%= a["descr"] %>
			</td>			
			<td width="25%"><%= a["tp"] %></td>
		</tr>
	<% end %>
	<tr id="row_-1" class="rdata" onclick="on_select(-1);">
		<td width="15%" id="small_name" ></td>
		<td width="60%">Это новый адрес</td>
		<td width="25%">&nbsp</td>
	</tr>
</table>
<%= hidden_field(:points, :j, :value => @pointsj, :size => 50, :maxlength => 20000, :style=>"background-color : transparent", :readonly => 'true') %>	