<% content_for :js do %>
   <script src="http://api-maps.yandex.ru/2.0/?load=package.full&mode=debug&lang=ru-RU" type="text/javascript"></script>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "geo" %>
    <script type="text/javascript">	
	var main_city = [{"city": "Москва"}],
		current_id=0,
		placemark,
		placemarks,
		rr = <%= @route_json %>,
		polygons = [],
		center=[<%= @latitude %>, <%= @longitude %>],
		isadr = 0,
		unact;
	ymaps.ready(function(){
		var style1 = 
			{
				// - цвет и прозрачность линии
				strokeColor: "ffff0088",
				// - цвет и прозрачность заливки
				fillColor: "ff000055"
			},
			dragCoords;
		unact = new Unact();
		<%= (flash[:notice] and flash[:notice]["Ошибка"]) ? "" : "document.getElementById('form1').reset();" %>
	    
		map = new ymaps.Map("YMapsID",
			{
				// Центр карты
				center: center,
				zoom: 13,
				// Тип карты
				type: "yandex#map",
				behaviors: ["default", "scrollZoom"]
			}
		);
		
		placemark = new ymaps.Placemark(
			[0,0], 
			{
				draggable: true,
				balloonMaxWidth: 100,
				balloonAutoPan: true
			},
			{
				preset: "twirl#workShopIcon",
			}
		);
		
		map.geoObjects.add(placemark);
		
		placemarks = new ymaps.GeoObjectArray();
		map.geoObjects.add(placemarks);
		
		map.events.add("click", function (mEvent) {
			onMapClick(mEvent);
        });
        placemark.events.add("dragend", function (mEvent) {
			var coords=mEvent.originalEvent.target.geometry.getCoordinates();
			setCoords(coords);
		});
		
		for (var i = 0; i < rr.length; i++) {
			polygons[i] = new ymaps.Polygon(
				ymaps.geometry.Polygon.fromEncodedCoordinates(rr[i].points),
				{
					balloonContent:	rr[i].name 
				},
				style1);
			
			map.geoObjects.add(polygons[i]);
			polygons[i].events.add("click", function (mEvent) {
				onMapClick(mEvent);
			});
			polygons[i].events.add("mousedown", function (mEvent) {
				dragCoords = mEvent.get('coordPosition');
			});
			polygons[i].events.add("mouseup", function (mEvent) {
				map.panTo([2*dragCoords[0] - mEvent.get('coordPosition')[0], 2*dragCoords[1] - mEvent.get('coordPosition')[1]], {delay: 10});
			});
        };
		<% if @placeunload_id > 0 %>
			placemark.geometry.setCoordinates([<%= @latitude %>, <%= @longitude %>]);
		<% else %>
			if ($('a_loadto').value.length > 0)
			{
				unact.placeunload.geocode_addr($('a_loadto').value, true);
			};
		<% end %>
	});
	
	function onMapClick(mEvent) {
    	var coords=mEvent.get('coordPosition');
		placemark.geometry.setCoordinates(coords);
		setCoords(coords);				
	};
	
	function setCoords(coords){
		if($('a_' + current_id + '_latitude')!=null){
			$('a_' + current_id + '_latitude').value  = coords[0];
			$('a_' + current_id + '_longitude').value = coords[1];
		}
		unact.placeunload.geocode_addr($('a_longitude').value + ' ' + $('a_latitude').value, false);
	}
    
    function getSelectionId(text, li) {
		$('pgroup_id').value = li.id;
		$('pgroup_descr').update('');
	};
	
	function needclear(event) {
		if ((event.charCode > 0)||(event.keyCode == 8)||(event.keyCode == 46)) {
			$('pgroup_id').value = -1;
			$('pgroup_descr').update('Не задана!');
			$('partner_name').value = '';
			$('partner_id').value = -1;
			$('partner_descr').update('Новый!');
			$('buyer_id').value = -1;
			$('buyer_descr').update('Новый!');
		};
	};

	function getPartnerSelectionId(text, li) {
		var time=$(li).readAttribute('time');
		$('partner_id').value = li.id;
		$('partner_descr').update('');
		$('buyer_name').value = text.value;
		$('placeunload_name').value = text.value;
		$('placeunload_unloading').value = (time)?(time): (-1);
	};
	
	function needclearPartner(event) {
		if (((event.charCode > 0) && (event.charCode!=97) && (event.charCode!=99) )||(event.keyCode == 8)||(event.keyCode == 46)) {
			$('partner_id').value = -1;
			$('partner_descr').update('Новый!');
			$('buyer_id').value = -1;
			$('buyer_descr').update('Новый!');
		};
	};

	
	function getBuyerSelectionId(text, li) {
		$('buyer_id').value    = li.id;
		$('buyer_descr').update('');
		$('a_loadto').value    = li.title;		
		$('placeunload_name').value = text.value;
	};
	
	function needclearBuyer(event) {
		if ((event.charCode > 0)||(event.keyCode == 8)||(event.keyCode == 46)) {
			$('buyer_id').value = -1;
			$('buyer_descr').update('Новый!');
		};
	};
	
	function on_select( sid ){
		$$('tr.rdata').each(function(d){
			d.style.backgroundColor = 'white';
		});
		$('row_' + sid ).style.backgroundColor = 'yellow';
		$('placeunload_id').value=sid;
		if (sid==-1) {
			$('newplace').style.display = "";
		}
		else {
			$('newplace').style.display = "none";
		};
	};
	
	function after_select(){
		var pp = eval($('points_j').value);
		placemarks.removeAll();
		for (var i = 0; i < pp.length; i++) {
			placemarks.add(
				new ymaps.Placemark(
					[pp[i].latitude, pp[i].longitude], 
					{
						draggable: true,
						balloonMaxWidth: 100,
						balloonAutoPan: true,
						balloonContent: pp[i].pname 
					},
					{
						preset: "twirl#shopIcon",
					}
				)
			);
        }
		$('spinner1').hide(); 
		on_select($('placeunload_id').value);	
	};
	
	function submitIt(event) {
		if ((event.keyCode == 0xA) || (event.keyCode == 0xD)) {
			isadr = 1;
			unact.placeunload.geocode_addr($('a_loadto').value, true);
		};
	};
	
	function checkForm(){
		var noError=true;
		
		if($('placeunload_placecategory_id').value == -1 && $('newplace').style.display != "none"){
			alert('Введите категорию точки');
			noError=false;
		}
		
		if (isadr == 1 ){
			isadr=0;
			noError=false;
		}
		return noError;
	};
	
	function findPlace(){
		<%= remote_function :url =>{ :action => "find_place" }, :with => "'latitude=' + $('a_latitude').value + '&longitude=' + $('a_longitude').value ", :update => "mainform", :complete => "after_select();" %>
	};
	
	function findPlaceFake(){
		<%= remote_function :url =>{ :action => "find_place_fake" }, :with => "'latitude=' + $('a_latitude').value + '&longitude=' + $('a_longitude').value ", :update => "mainform", :complete => "after_select();" %>
	};

	</script>
<%	end -%>
<% content_for :title do %>
Добавить покупателя
<%	end -%>
<% content_for :content do %>
	<input type="hidden" id="is_add_buyer" />
	<div id="wrapper">
		<div id="groupselect"/>
		
		<div id="map" style="width: 50%; heigth: 390px; float: right;">
			<div id="YMapsID" style="heigth: 390px;"></div>
		</div>
		
		<% form_tag( {:action => "save_buyer"} , {:id => "form1", :onsubmit => "return checkForm()"} ) do %>
			<div id="tableheader" style="width: 48%; float: left;">
			
				<div class="gray">1. Выберите группу партнеров</div>
				
				<%= text_field(:pgroup, :name, :value => @pgroup_name, :size => 50, :maxlength => 255, :style=>"background-color : transparent", :onkeypress => "needclear(event)") %>	
				<span id="pgroup_descr" style="white-space : nowrap"><%= @pgroup_descr %></span>	
				<%= hidden_field(:pgroup, :id, :value => @pgroup_id, :size => 5, :maxlength => 30) %>
				<div class='auto_complete' id='pgroup_name_auto_complete'></div>
				<%= auto_complete_field :pgroup_name, :frequency => 0.5, :url => {:action => :autocomplete_pgroup_name}, :after_update_element=>"getSelectionId" %>				
				
				<div class="gray">2. Задайте имя партнера</div>
				
				<%= text_field(:partner, :name, :value => @partner_name, :size => 50, :maxlength => 255, :style=>"background-color : transparent", :onkeypress => "needclearPartner(event)", :onchange => "$('buyer_name').value = $('partner_name').value; $('placeunload_name').value = $('buyer_name').value;") %>	
				<span id="partner_descr" style="white-space : nowrap"><%= @partner_descr %></span>
				<%= hidden_field(:partner, :id, :value => @partner_id, :size => 5, :maxlength => 30) %>
				<div class='auto_complete' id='partner_name_auto_complete'></div>
				<%= auto_complete_field :partner_name, :frequency => 0.5, :url => {:action => :autocomplete_partner_name}, :after_update_element=>"getPartnerSelectionId", :with => "'partner[name]=' + $('partner_name').value + '&partner[parent]='+$('pgroup_id').value" %>										
				
				<div class="gray">3. Задайте имя покупателя</div>
				
				<%= text_field(:buyer, :name, :value => @buyer_name, :size => 50, :maxlength => 255, :style=>"background-color : transparent", :onkeypress => "needclearBuyer(event)", :onchange => "$('placeunload_name').value = $('buyer_name').value;") %>	
				<span id="buyer_descr" style="white-space : nowrap"><%= @buyer_descr %></span>
				<%= hidden_field(:buyer, :id, :value => @buyer_id, :size => 5, :maxlength => 30) %>
				<div class='auto_complete' id='buyer_name_auto_complete'></div>
				<%= auto_complete_field :buyer_name, :frequency => 0.5, :url => {:action => :autocomplete_buyer_name}, :after_update_element=>"getBuyerSelectionId", :with => "'buyer[name]=' + $('buyer_name').value + '&buyer[partner]='+$('partner_id').value" %>										
								
				<div class="gray">4. Введите подходящий адрес для покупателя</div>
				
				<%= text_area(:a, :loadto, :value => @loadto, :cols => 40, :rows => 2, :maxlength => 255, :style=>"background-color : transparent",  :onkeypress => "submitIt(event);" ) %>	
				
				<div class="gray">5. Нажмите <%= link_to_function "...", "unact.placeunload.geocode_addr($('a_loadto').value, true);" %>
					<% if @placeunload_id > 0 %>
						или <%= link_to " отредактируйте точку", :action => "index", :id => @placeunload_id %>
					<% end %>
				</div>
				
				
				<%= text_area(:a, :fulladdress, :value => "", :cols => 40, :rows => 2, :maxlength => 255, :style=>"background-color : transparent", :readonly => 'true') %>	
				<br>
				<%= link_to_function "Север", "unact.placeunload.geocode_addr('Москва, Красная пл., 2', null, true);" %>
				<%= link_to_function "Юг", "unact.placeunload.geocode_addr('Россия, Москва, Варшавское шоссе, 2', null, true);" %>
				<%= link_to_function "Электросталь", "unact.placeunload.geocode_addr('Россия, Электросталь', null, true);" %>
				<%= link_to_function "Коломна", "unact.placeunload.geocode_addr('Россия, Коломна', null, true);" %>
				<%= link_to_function "Руза", "unact.placeunload.geocode_addr('Россия, Руза', null, true);" %>
				</br>
				<br/>
				<%= text_field(:a, :latitude, :value => "", :size => 9, :maxlength => 30, :style=>"background-color : transparent", :readonly => 'true') %>
				<%= text_field(:a, :longitude, :value => "", :size => 9, :maxlength => 30, :style=>"background-color : transparent", :readonly => 'true') %>
				
				<div class="gray">6. Если точка на карте расположена не правильно, то измените адрес или подвиньте точку</div>
				
				<%= hidden_field(:placeunload, :id, :value => @placeunload_id, :size => 9, :maxlength => 30, :style=>"background-color : transparent", :readonly => 'true') %>
				
				<div class="gray">7. Укажите, какому адресу разгрузки соответствует покупатель</div>
				
				<table width="100%" border="0" cellpadding="2" cellspacing="1">
				   <tr>
						<td width="15%" class="th1">Вывеска</td>
						<td width="60%">Адрес <br>Геокодированный адрес</td>
						<td width="25%">ТП</td>
				   </tr>
				</table>
					
				<%= image_tag('ajax-loader.gif', :id => 'spinner1', :style => 'display:none') %>
				<div id="mainform">
					<%= render :partial => "upd_end" %> 					
				</div>
				
				<div id="newplace" style="display: none">
					<div class="gray">8. Введите атрибуты нового адреса разгрузки</div>
					<label class="gray">Вывеска</label>
					<%= text_field(:placeunload, :name, :value => @placeunload_name, :size => 50, :maxlength => 255, :style=>"background-color : transparent") %>
					<br/>
					<label class="gray">Категория точки</label>
					<%=  select(:placeunload, :placecategory_id, @placecategory_list, {:selected => @placecategory_id}, :onchange => "$('placecategory_err_msg').style.display = ($('placeunload_placecategory_id').value==-1) ? '' : 'none';") %>
					<span id='placecategory_err_msg'>Введите категорию точки</span>
					<br/>
					<label class="gray">Продолжительность разгрузки</label>
					<%=  select(:placeunload, :unloading, @unloading_list, {:selected => @unloading}) %>
					<br/>
					<label class="gray">Время приемки</label>
					<%=  select(:placeunload, :delscheduleid, @schedule_list, {:selected => @delscheduleid}) %>
					<br/>
					<label class="gray">Время инкассации</label>
					<%=  select(:placeunload, :incscheduleid, @schedule_list, {:selected => @incscheduleid})%>
					<br/>
					<label class="gray">Маршрут</label>
					<%=  select(:placeunload, :buyers_route_id, @buyers_route_list, {:selected => @buyers_route_id})%>
					<br/>
					<label class="gray">Примечание</label>
					<%= text_field(:placeunload, :descr, :value => @descr, :size => 50, :maxlength => 255, :style=>"background-color : transparent") %>
					<%= hidden_field(:placeunload, :ischeck, :value => @ischeck, :size => 9, :maxlength => 30, :style=>"background-color : transparent", :readonly => 'true') %>
				</div>
				<br/>
				<%= submit_tag "Сохранить" %>				
			</div>
		<% end %>
	</div>
<% end -%>
<% render :file => 'layouts/application' %>