<% content_for :js do %>
	<script src="http://api-maps.yandex.ru/2.0/?load=package.full&mode=debug&lang=ru-RU" type="text/javascript"></script>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "geo" %>
	<script type="text/javascript">
		var map,
			pp = <%= @rst_new %>,
			placemarks = [],
			current_id = 0,
			isadr = 0,
			main_city = [{"city": "Москва"}],
			rr = <%= @route_json %>,
			polygons = [],
			style1 = 
			{
				// - цвет и прозрачность линии
				strokeColor: "ffff0088",
				// - цвет и прозрачность заливки
				fillColor: "ff000055"
			},
			style2 = 
			{
				// - цвет и прозрачность заливки
				fillColor: "ffff0055"
			},
			center=[<%= @latitude %>, <%= @longitude %>],
			unact;

        ymaps.ready(function(){
			unact=new Unact();
			
			unact.placeunload.init([<%= @latitude %>, <%= @longitude %>], "index");
        });
		
		function submitIt(event, sid) {
			$('a_' + sid + '_needsave').checked = true;
			if ((event.keyCode == 0xA) || (event.keyCode == 0xD)) {
				isadr = 1;
				unact.common.find_addr(sid, "placeunload");
			};
		};
	</script>
<%	end -%>
<% content_for :title do %>
Координаты торговых точек
<%	end -%>
<% content_for :content do %>
	<div id="wrapper">
		<div id="groupselect">
			<% form_tag do %>
				<fieldset>
					<legend>Настройки</legend>
					<nobr>
						<label for="pname">Вывеска:</label>
						<%= text_field(:flt, :name, :value => @flt_name, :size=> 15, :maxlength => 255 ) %>
						<label for="paddress">Адрес:</label>
						<%= text_field(:flt, :address, :value => @flt_address, :size=> 25, :maxlength => 255 ) %>
						<label for="pischeck">Проверен:</label>
						<%= select(:flt, :ischeck, [["Все",-1],["Да",1],["Нет",0]], :selected => @flt_ischeck ) %>
						<label for="tp">ТП:</label>
						<%= text_field(:flt, :tp, :value => @flt_tp, :size=> 15, :maxlength => 255 ) %>
						<label for="br_id">Маршрут:</label>
						<%=  select(:flt, :buyers_route_id, [["Все",0]]+@buyers_route_list, {:selected => @flt_buyers_route_id})%>
						<label for="br_id">Древность:</label>
						<%= text_field(:flt, :ddate, :value => @flt_ddate, :size=> 3, :maxlength => 3 ) %>
						<label for="br_id">Не геокодированы:</label>
						<%= check_box(:flt, :notgeo, :style=>"border : none", :value => @flt_notgeo, :checked => (@flt_notgeo==1) ) %>
						<%= submit_tag 'Выбрать' %>
					</nobr>		
				</fieldset>
			<% end %> 
		</div>
		
		<div
			id="map"
			style="width: 30%;
			float: right;">
			<div id="YMapsID" ></div>
		</div>
		
		<div
			id="tableheader"
			style="width: 68%;
			float: left;">
			<div>
				<table width="100%" border="0" cellpadding="2" cellspacing="1">
				   <tr>
						<td width="20%" class="th1">Вывеска <br/> Примеч.</td>
						<td width="35%">Адрес <br/> Геокодированный адрес</td>
						<td width="8%">Шир. <br/> Долг.</td>
						<td width="10%">Кат. <br/> Вр. разгр.</td>
						<td width="10%">Вр.дост. <br/> Вр.инк.</td>
						<td width="10%">Маршр. <br/> Провер.</td>
						<td width="4%">Сохр</td>
				   </tr>
				</table>
			</div>
		</div>
		
		<% form_tag( {:action => 'save_point'}, {:onsubmit => "if (isadr == 1 ) {isadr=0;return false;}"} ) do %>	
			<div id="buyers" style="width: 68%">	
				<div id="mainform">
						<table width="100%" border="0" cellpadding="2" cellspacing="1">
							<% @rst_buyers.each do |a| %>
							<tr
								<%= "id=\"row_#{a["id"]}\"" %> class="rdata" onclick="unact.common.on_select(<%= a["id"] %>)" >
								<td width="20%" id="small_name" >
									<%= text_field(:a, :pname, :index => a["id"] , :value => a["pname"], :maxlength => 255, :class => "boxintbl", :style=>"background-color : transparent", :onkeydown => "unact.common.on_needsave(#{a["id"]})" ) %>
									<br/>
									<%= text_field(:a, :descr, :index => a["id"] , :value => a["descr"], :maxlength => 255, :class => "boxintbl", :style=>"background-color : transparent", :onkeydown => "unact.common.on_needsave(#{a["id"]})" ) %>			
								</td>
								<td width="35%">
									<%= text_field(:a, :srcaddress, :index => a["id"] , :value => a["srcaddress"], :maxlength => 255, :class => "boxintbl", :style=>"background-color : transparent", :onkeypress => "submitIt(event, #{a["id"]});" ) %>
									<br/>
									<%= text_field(:a, :fulladdress, :index => a["id"] , :value => a["fulladdress"], :maxlength => 255, :class => "boxintable gray", :style=>"background-color : transparent", :readonly => 'true') %>
									<br/>
									<%= text_field(:a, :tp, :index => a["id"] , :value => a["tp"], :maxlength => 255, :class => "boxintable gray", :style=>"background-color : transparent", :readonly => 'true') %>											   
								</td>
								<td width="8%">
									<%= text_field(:a, :latitude, :index => a["id"] , :value => a["latitude"], :maxlength => 20, :class => "boxintbl", :style=>"background-color : transparent", :onkeydown => "unact.common.on_needsave(#{a["id"]})" ) %>
									<br/>
									<%= text_field(:a, :longitude, :index => a["id"] , :value => a["longitude"], :maxlength => 20, :class => "boxintbl", :style=>"background-color : transparent", :onkeydown => "unact.common.on_needsave(#{a["id"]})" ) %>
									<br/>
									<select id="a_<%= a["id"] %>_join" name="a[<%= a["id"] %>][join]" style="width : 90%; background-color : transparent" onChange="unact.common.on_needsave(<%= a["id"] %>)" >
										<%= options_for_select [['_',-1],['Осн.',1],['Доб.',2]], -1 %>
									</select>
								</td>
								<td width="10%">
									<select id="a_<%= a["id"] %>_placecategory_id" name="a[<%= a["id"] %>][placecategory_id]" style="width : 100%; background-color : transparent" onChange="unact.common.on_needsave(<%= a["id"] %>)" >
										<%= options_for_select @placecategory_list, a["placecategory_id"] %>
									</select>
									<br/>
									<select id="a_<%= a["id"] %>_unloading" name="a[<%= a["id"] %>][unloading]" style="width : 100%; background-color : transparent" onChange="unact.common.on_needsave(<%= a["id"] %>)" >
										<%= options_for_select @unloading_list, a["unloading"] %>
									</select>
								</td>		
								<td width="10%">
									<select id="a_<%= a["id"] %>_delscheduleid" name="a[<%= a["id"] %>][delscheduleid]" style="width : 100%; background-color : transparent" onChange="unact.common.on_needsave(<%= a["id"] %>)" >
										<%= options_for_select @schedule_list, a["delscheduleid"] %>
									</select>
									<br/>
									<select id="a_<%= a["id"] %>_incscheduleid" name="a[<%= a["id"] %>][incscheduleid]" style="width : 100%; background-color : transparent" onChange="unact.common.on_needsave(<%= a["id"] %>)" >
										<%= options_for_select @schedule_list, a["incscheduleid"] %>
									</select>
								</td>
								<td width="10%">
									<select id="a_<%= a["id"] %>_buyers_route_id" name="a[<%= a["id"] %>][buyers_route_id]" style="width : 100%; background-color : transparent" onChange="unact.common.on_needsave(<%= a["id"] %>)" >
										<%= options_for_select @buyers_route_list, a["buyers_route_id"] %>
									</select>
									<br/>
									<%= check_box(:a, :ischeck, :index => a["id"], :style=>"border : none", :value => a["ischeck"], :checked => (a["ischeck"]==1), :onclick => "unact.common.on_needsave(#{a["id"]})" ) %>
								</td>
								<td width="4%">
									<%= check_box(:a, :needsave, :index => a["id"], :style=>"border : none", :value => '0', :checked => false ) %>
								</td>			
							</tr>
							<% end %>				
						</table>
				</div>
			</div>
			<div id="operblock">		
				<%= submit_tag "Сохранить" %>
			</div>
		<% end %>
	</div>
<% end -%>
<% render :file => 'layouts/application' %>